* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background-color: #131326;
    font-size: 1.3rem;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

h1, nav {
    font-family: "itc-benguiat-condensed", sans-serif;
    font-weight: 700;
    font-style: normal;
}

header {
    background-color: var(--primary-color);
    padding: 10px 0;
    border-bottom: #ED1C2C solid 2px;
}

nav {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    text-align: center;
}

h1 {
    text-align: center;
    color: #ED1C2C;
    font-size: 48px;
    margin: 10px 0;
}

nav a {
    text-decoration: none;
    font-family: "itc-benguiat-condensed", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #ED1C2C;
    padding: 10px 20px;
    margin: 0 10px
}

a:visited {
    color: white;
}

a:hover {
    color: #FCD900
}

main > section.hero {
    height: 500px;
    background-size: cover;
    background-position: center;
    background-image: url("Hero Images/Screenshot 2023-06-29 at 10.45.21 PM.png");
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
  }

  section.hero > .call-to-action {
    font-family: "itc-benguiat-condensed", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 3.5rem;
    text-shadow: var(--white) 0px 0px 10px, var(--white) 0px 0px 20px, var(--gray) 2px 2px 2px;
    padding: 0 48px;
    margin: 0;
    color: white;
  }

section.hero > button {
    background-color: #ED1C2C;
    color: white;
    border: none;
    padding: 24px 36px;
    border-radius: 6px;
    text-transform: uppercase;
    cursor: pointer;
    transition: 300ms;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1rem;
  }

  section.hero > button:hover {
    background-color: white;
    color: #ED1C2C;
    transform: translateY(-4px);
    font-family: 'Nunito Sans', sans-serif;
  }

  main p {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 19px;
    color: white;
    line-height: 1.25;
    margin-bottom: 20px;
  }

  main > section.trailer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
  }